body,ul,li,p,h1,h2,h3,h4,h5,input,button
	margin:0
	border:0
	padding:0
input,button,textarea
	border:none
	outline:none	
li
	list-style:none
a
	text-decoration : none
*{
	box-sizing:border-box
	background-clip: padding-box
	-webkit-appearance: none
	-webkit-tap-highlight-color:transparent
}
/*img
	background:rgba(0,0,0,0.1)*/
img.absolute
	position: absolute
	left: 50%
	top: 50%
	width: 100%
	height: auto !important
	min-height: 100%
	object-fit: cover
	transform: translate(-50%,-50%)
.mint-loadmore-top,.mint-loadmore-bottom,.vue-jsonp-loading
	font-size: 0.5rem
	color:#333
	img
		width:1.2rem
		height:1.2rem
		vertical-align:middle
		background:none
.vue-jsonp-loading
	text-align:center
	padding:0.3rem
.mint-header
	height:1.4rem
	line-height:1.4rem
	font-size:0.58rem
	color:#fff

	
	
	