@font-face {
  font-family: 'icomoon';
  src:  url('~common/fonts/icomoon.eot?89n5sm');
  src:  url('~common/fonts/icomoon.eot?89n5sm#iefix') format('embedded-opentype'),
    url('~common/fonts/icomoon.ttf?89n5sm') format('truetype'),
    url('~common/fonts/icomoon.woff?89n5sm') format('woff'),
    url('~common/fonts/icomoon.svg?89n5sm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about .path1:before {
  content: "\e900";
  color: rgb(32, 183, 67);
}
.icon-about .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(149, 252, 169);
}
.icon-about .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(149, 252, 169);
}
.icon-about .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(149, 252, 169);
}
.icon-add:before {
  content: "\e904";
}
.icon-album:before {
  content: "\e905";
  color: #28c628;
}
.icon-assessment:before {
  content: "\e906";
  color: #f66161;
}
.icon-assetcount:before {
  content: "\e907";
  color: #fff;
}
.icon-assets:before {
  content: "\e908";
}
.icon-balance .path1:before {
  content: "\e909";
  color: rgb(1, 167, 251);
}
.icon-balance .path2:before {
  content: "\e90a";
  margin-left: -0.95703125em;
  color: rgb(159, 225, 252);
}
.icon-balance .path3:before {
  content: "\e90b";
  margin-left: -0.95703125em;
  color: rgb(159, 225, 252);
}
.icon-banlance-num:before {
  content: "\e90c";
}
.icon-camera:before {
  content: "\e90d";
  color: #56b1f7;
}
.icon-check1:before {
  content: "\e90e";
}
.icon-check2:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e910";
}
.icon-consumption:before {
  content: "\e911";
  color: #fff;
}
.icon-distribution:before {
  content: "\e912";
  color: #fcb735;
}
.icon-download:before {
  content: "\e913";
  color: #fff;
}
.icon-edit:before {
  content: "\e914";
}
.icon-eye-close:before {
  content: "\e915";
}
.icon-eye-open:before {
  content: "\e916";
}
.icon-fans:before {
  content: "\e917";
  color: #fbd22c;
}
.icon-file .path1:before {
  content: "\e918";
  color: rgb(251, 125, 1);
}
.icon-file .path2:before {
  content: "\e919";
  margin-left: -1.23046875em;
  color: rgb(251, 219, 1);
}
.icon-find:before {
  content: "\e91a";
}
.icon-gift:before {
  content: "\e91b";
  color: #ff6161;
}
.icon-increment:before {
  content: "\e91c";
}
.icon-integral .path1:before {
  content: "\e91d";
  color: rgb(252, 183, 53);
}
.icon-integral .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-integral .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 235, 202);
}
.icon-left:before {
  content: "\e920";
}
.icon-lock:before {
  content: "\e921";
  color: #58dca3;
}
.icon-mall:before {
  content: "\e922";
}
.icon-mall-beauty .path1:before {
  content: "\e923";
  color: rgb(177, 154, 65);
}
.icon-mall-beauty .path2:before {
  content: "\e924";
  margin-left: -1.13671875em;
  color: rgb(134, 116, 45);
}
.icon-mall-delicious .path1:before {
  content: "\e925";
  color: rgb(134, 116, 45);
}
.icon-mall-delicious .path2:before {
  content: "\e926";
  margin-left: -0.8623046875em;
  color: rgb(177, 154, 65);
}
.icon-mall-fresh .path1:before {
  content: "\e927";
  color: rgb(177, 154, 65);
}
.icon-mall-fresh .path2:before {
  content: "\e928";
  margin-left: -1.08203125em;
  color: rgb(134, 116, 45);
}
.icon-mall-health .path1:before {
  content: "\e929";
  color: rgb(177, 154, 65);
}
.icon-mall-health .path2:before {
  content: "\e92a";
  margin-left: -1.142578125em;
  color: rgb(134, 116, 45);
}
.icon-mall-member:before {
  content: "\e92b";
  color: #b19a41;
}
.icon-mall-more .path1:before {
  content: "\e92c";
  color: rgb(177, 154, 65);
}
.icon-mall-more .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(134, 116, 45);
}
.icon-mall-private .path1:before {
  content: "\e92e";
  color: rgb(177, 154, 65);
}
.icon-mall-private .path2:before {
  content: "\e92f";
  margin-left: -0.9990234375em;
  color: rgb(134, 116, 45);
}
.icon-mall-specialty .path1:before {
  content: "\e930";
  color: rgb(177, 154, 65);
}
.icon-mall-specialty .path2:before {
  content: "\e931";
  margin-left: -1.005859375em;
  color: rgb(134, 116, 45);
}
.icon-mall-ticket .path1:before {
  content: "\e932";
  color: rgb(134, 116, 45);
}
.icon-mall-ticket .path2:before {
  content: "\e933";
  margin-left: -1.48828125em;
  color: rgb(177, 154, 65);
}
.icon-mine:before {
  content: "\e934";
}
.icon-moment .path1:before {
  content: "\e935";
  color: rgb(248, 83, 82);
}
.icon-moment .path2:before {
  content: "\e936";
  margin-left: -0.9970703125em;
  color: rgb(99, 103, 239);
}
.icon-moment .path3:before {
  content: "\e937";
  margin-left: -0.9970703125em;
  color: rgb(82, 131, 239);
}
.icon-moment .path4:before {
  content: "\e938";
  margin-left: -0.9970703125em;
  color: rgb(0, 176, 253);
}
.icon-moment .path5:before {
  content: "\e939";
  margin-left: -0.9970703125em;
  color: rgb(100, 208, 31);
}
.icon-moment .path6:before {
  content: "\e93a";
  margin-left: -0.9970703125em;
  color: rgb(154, 209, 33);
}
.icon-moment .path7:before {
  content: "\e93b";
  margin-left: -0.9970703125em;
  color: rgb(255, 199, 22);
}
.icon-moment .path8:before {
  content: "\e93c";
  margin-left: -0.9970703125em;
  color: rgb(255, 118, 18);
}
.icon-moment-disable:before {
  content: "\e93d";
  color: #ccc;
}
.icon-money:before {
  content: "\e93e";
  color: #fff;
}
.icon-order .path1:before {
  content: "\e93f";
  color: rgb(255, 97, 97);
}
.icon-order .path2:before {
  content: "\e940";
  margin-left: -0.9130859375em;
  color: rgb(249, 215, 215);
}
.icon-pearl:before {
  content: "\e941";
  color: #f4c81a;
}
.icon-pearl-num:before {
  content: "\e942";
}
.icon-qrcode:before {
  content: "\e943";
  color: #23d444;
}
.icon-rank:before {
  content: "\e944";
  color: #fbd22c;
}
.icon-realname:before {
  content: "\e945";
  color: #1cb046;
}
.icon-report:before {
  content: "\e946";
  color: #2494f3;
}
.icon-right:before {
  content: "\e947";
}
.icon-scan:before {
  content: "\e948";
}
.icon-search:before {
  content: "\e949";
}
.icon-set:before {
  content: "\e94a";
}
.icon-share:before {
  content: "\e94b";
  color: #fff;
}
.icon-shell:before {
  content: "\e94c";
  color: #27cb15;
}
.icon-shell-num:before {
  content: "\e94d";
}
.icon-sign:before {
  content: "\e94e";
  color: #fff;
}
.icon-trade:before {
  content: "\e94f";
  color: #fb7d01;
}
.icon-warning:before {
  content: "\e950";
  color: #fb1111;
}
