.pop-bg
	position:fixed
	z-index:2
	width:100%
	top:0
	bottom:0	
	background:rgba(0,0,0,0.6)	
	.pop-box	
		position:absolute
		top:50%
		left:50%
		transform:translate(-50%,-50%)
		width:9.2rem
		height:5.4rem
		background:#fff
		border-radius:0.2rem
		text-align:center
		padding:1.4rem 1.2rem 0.8rem
		h3
			font-size:0.52rem
			color:#333
		.button
			margin-top:0.8rem
			display:flex
			justify-content:space-around
			span	
				font-size:0.52rem
				padding:0.1rem 0.3rem
				border-radius:0.1rem
			span:first-child	
				color:#333
				border:1px solid #999
			span:last-child	
				color:#fff
				border:1px solid #c8ad49
				background:#c8ad49